In [1]:
import pandas as pd

# Load the messy dataset
df = pd.read_csv('../data/messy_Data.csv')

# Show basic info
print("Shape:", df.shape)
df.head()

Shape: (11000, 8)

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [2]:
# Count missing values in each column
df.isnull().sum()

Unnamed: 0       0
ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [3]:

df.duplicated().sum()

df[df.duplicated()]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
10002,6557,07727d57-4574-4a0f-9372-51e7e7d526e7,NaN,NaN,NaN,NaN,NaN,NaN
10005,7708,418d64f6-5c24-4023-a19b-085664d8aa82,NaN,NaN,NaN,NaN,NaN,NaN
10008,2470,07a02c66-def7-4a7b-8b5a-792c3742d3f0,Lisa Reyes,37.0,dsmithhotmail.com,2022-06-06,87274.0,Sales
10009,2846,e3628acd-d04a-4b74-9775-1aecb6b938ba,NaN,NaN,NaN,NaN,NaN,NaN
10011,4168,6dd96a78-a797-404b-b47a-b5723ba8e605,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10975,4685,2adebc64-900d-431a-93cd-118de4bb6eb7,NaN,NaN,NaN,NaN,NaN,NaN
10978,3054,1ea7f125-698d-49dc-a97a-955b4dc4fc9b,NaN,NaN,NaN,NaN,NaN,NaN
10988,6403,4edd1e6e-cfb5-4300-9c74-e9642836e134,NaN,NaN,NaN,NaN,NaN,NaN
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaN,NaN,NaN
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.0,cdavis@hodges.com,2023-08-10,149224.0,Support

In [4]:

df[~df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkinshotmail.com,17/09/2020,77311.0,HR
7,7,465e625b-f924-4061-8356-c7e3130f7118,Derek Murphy,38.0,josephrobertsongmail.com,2021-01-12,NaN,Support
...,...,...,...,...,...,...,...,...
10978,3054,1ea7f125-698d-49dc-a97a-955b4dc4fc9b,NaN,NaN,NaN,NaN,NaN,NaN
10988,6403,4edd1e6e-cfb5-4300-9c74-e9642836e134,NaN,NaN,NaN,NaN,NaN,NaN
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.0,HR
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaN,NaN,NaN
10996,9785,da8a6bbc-5026-4630-848d-f64e80dac56c,Steven Armstrong,38.0,molly89gmail.com,2021-06-24,NaN,Sales

In [5]:

df = df[~df['Email'].str.contains('gmail|yahoo|hotmail', case=False, na=False)]

In [7]:

df['Name'] = df['Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df['Name'] = df['Name'].str.strip().str.title()

In [8]:

df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')

In [9]:
df[df['Join Date'].isnull()]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,NaT,123018.000000,SupportE
10,10,d5fe9321-49cf-4f14-ac96-7aea1204247b,Craig Conway,88.0,gerald47@woodard-smith.com,NaT,81214.525972,Engineering
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.0,griffinlinda@harrison.com,NaT,51625.814403,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,NaN,longjennifer@parker.biz,NaT,85794.000000,SalesX
18,18,05e36d3f-6422-4329-80b2-1fd3543ee254,NaN,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...
10979,8355,7939aed0-f594-4119-bc25-897a1cc03b4d,Kathryn Hayneslight,53.0,bakeradrian@ramirez.biz,NaT,104067.064555,Support
10988,6403,4edd1e6e-cfb5-4300-9c74-e9642836e134,NaN,NaN,NaN,NaT,NaN,NaN
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,NaT,47809.000000,HR
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaT,NaN,NaN
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,NaN,robert96@pollard-frye.com,NaT,122609.594149,HR

In [10]:
# View unique department names
df['Department'].unique()

array([nan, 'Engineering', 'SupportJ', 'SupportE', 'HR', 'Marketing',
       'SalesX', 'Supportu', 'Engineeringi', 'MarketingR', 'Sales',
       'MarketingU', 'Salesi', 'HRa', 'Support', 'SalesG', 'SalesN',
       'Marketingv', 'EngineeringL', 'Salesj', 'Marketingr', 'HRW', 'HRt',
       'HRz', 'EngineeringS', 'SupportW', 'EngineeringT', 'SupportC',
       'Marketingn', 'SupportB', 'HRi', 'Engineeringp', 'Supportg',
       'SupportQ', 'Salesr', 'Supporto', 'Marketingw', 'EngineeringM',
       'Salesy', 'Marketingm', 'HRw', 'Marketingo', 'EngineeringH',
       'MarketingN', 'EngineeringD', 'Marketingp', 'Marketingz',
       'MarketingI', 'SupportT', 'Salesz', 'Marketingt', 'SupportS',
       'HRv', 'EngineeringR', 'MarketingQ', 'HRD', 'Saless', 'Salesn',
       'Engineeringl', 'SalesE', 'MarketingO', 'SalesD', 'HRy',
       'Engineerings', 'SalesI', 'Salesu', 'Supportk', 'MarketingE',
       'Marketingk', 'SalesA', 'SupportA', 'Supporte', 'Engineeringu',
       'EngineeringO', 'SalesS', 'SalesK', 'HRK', 'Engineeringb',
       'SalesV', 'SupportY', 'SalesQ', 'Supportp', 'HRr', 'MarketingX',
       'Marketingf', 'HRU', 'MarketingH', 'SalesF', 'Salesq',
       'EngineeringV', 'SupportO', 'MarketingD', 'MarketingF',
       'EngineeringC', 'Engineeringe', 'Engineeringz', 'HRP', 'Salesv',
       'HRI', 'Marketingh', 'SupportH', 'HRL', 'HRm', 'Supportr',
       'Supportd', 'HRZ', 'Supportj', 'HRE', 'Marketingl', 'MarketingZ',
       'Engineeringg', 'Salesc', 'EngineeringJ', 'SalesR', 'Engineeringh',
       'SupportX', 'Engineeringt', 'Marketingg', 'EngineeringG', 'SalesH',
       'SupportV', 'HRq', 'Marketingb', 'Engineeringc', 'HRs', 'Supportw',
       'SupportL', 'Marketings', 'Salese', 'HRX', 'EngineeringE',
       'MarketingG', 'SupportP', 'HRf', 'MarketingB', 'Engineeringf',
       'EngineeringW', 'Engineeringy', 'Marketinga', 'MarketingC', 'HRd',
       'Engineeringx', 'HRA', 'HRp', 'SalesZ', 'Supporta', 'MarketingV',
       'EngineeringK', 'HRY', 'EngineeringZ', 'MarketingY', 'HRM',
       'Marketingx', 'EngineeringX', 'Supporti', 'HRO', 'SalesY', 'HRN',
       'Supportb', 'HRg', 'SalesT', 'Engineeringa', 'Salesl',
       'Engineeringq', 'SupportG', 'SalesB', 'Engineeringd', 'MarketingT',
       'HRR', 'Engineeringw', 'HRh', 'SupportZ', 'Marketingc', 'HRl',
       'SupportK', 'Supportn', 'Marketingd', 'EngineeringU', 'Supportx',
       'Salesp', 'Salesk', 'HRu', 'MarketingK', 'HRb', 'Supports', 'HRQ',
       'HRC', 'Marketingj', 'EngineeringI', 'HRT', 'HRB', 'MarketingM',
       'Marketingq', 'Engineeringr', 'EngineeringF', 'SalesJ', 'HRF',
       'SalesU', 'Supporty', 'Supportm', 'SupportU', 'Marketingy',
       'Marketinge', 'Supportf', 'SupportM', 'Engineeringv', 'HRG',
       'Supportt', 'Salesd', 'SalesL', 'HRH', 'HRe', 'HRJ',
       'EngineeringN', 'Engineeringj', 'HRV', 'HRk', 'HRS', 'SalesP',
       'Supportc', 'MarketingS', 'Engineeringm', 'Engineeringn',
       'EngineeringP', 'MarketingJ', 'SalesM', 'SupportI', 'Saleso',
       'SupportD', 'Salesf', 'HRj', 'SupportF', 'Supportl', 'Salesw',
       'Salesg', 'SupportR', 'HRo', 'Engineeringo', 'Engineeringk',
       'Salesm', 'Salesa', 'MarketingW', 'Marketingu', 'EngineeringQ',
       'Supporth', 'Marketingi', 'Supportq', 'EngineeringA', 'SalesO',
       'Supportv', 'Supportz', 'SalesC', 'MarketingP', 'MarketingL',
       'HRc'], dtype=object)

In [11]:
# Replace typos with correct names
df['Department'] = df['Department'].replace({
    'Hr': 'HR',
    'Engneering': 'Engineering',
    'Marketng': 'Marketing',
    'Saless': 'Sales',
    'Supporrt': 'Support'
})

In [38]:
# Remove currency symbols or commas
df['Salary'] = df['Salary'].replace('[\$,]', '', regex=True).astype(float)

# Check for outliers
df['Salary'].describe()
df[df['Salary'] > 300000]

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Hp\AppData\Local\Temp\ipykernel_14000\1424777428.py:2: SyntaxWarning: invalid escape sequence '\$'
  df['Salary'] = df['Salary'].replace('[\$,]', '', regex=True).astype(float)

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [13]:
# Remove duplicate rows
df = df.drop_duplicates()

In [14]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
Unnamed: 0       0
ID               0
Name          1635
Age           1339
Email         1092
Join Date     2452
Salary        1591
Department    1610
dtype: int64

In [15]:
# Duplicates
print("\nDuplicate rows:")
print(df.duplicated().sum())

Duplicate rows:
0

In [17]:
# Check noisy name field
df['Name'].sample(10)

4817                       NaN
1488                       NaN
3391                       NaN
1900             Deanna Harris
3212               David White
3882              David Cooper
4444    Edward Bennettresource
908                        NaN
5467                   Amy Key
5293          Alyssa Fernandez
Name: Name, dtype: object

In [18]:
# Drop rows where 'Join Date' is missing
df = df.dropna(subset=['Join Date'])

In [19]:
print("Missing values:")
print(df.isnull().sum())

Missing values:
Unnamed: 0      0
ID              0
Name          392
Age           174
Email           0
Join Date       0
Salary        376
Department    384
dtype: int64

In [21]:

df['Age'] = df['Age'].fillna(df['Age'].mean())

In [22]:
#  Drop rows with missing Salary
df = df.dropna(subset=['Salary'])

In [23]:
df['Department'] = df['Department'].fillna('Unknown')

In [24]:
df = df.dropna(subset=['Email'])

In [25]:
# Confirm all missing values are handled
print("Remaining nulls:\n", df.isnull().sum())

Remaining nulls:
 Unnamed: 0      0
ID              0
Name          352
Age             0
Email           0
Join Date       0
Salary          0
Department      0
dtype: int64

In [26]:
# Check for missing IDs
print("Missing IDs:", df['ID'].isnull().sum())

Missing IDs: 0

In [27]:
# Check for duplicate IDs
print("Duplicate IDs:", df['ID'].duplicated().sum())

Duplicate IDs: 179

In [28]:
# Show suspicious names
df[df['Name'].str.contains(r'[^a-zA-Z\s]', na=False)]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [31]:
# Check short or missing names
df[df['Name'].str.len() < 3]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [32]:
# Check age range
df['Age'].describe()

count    3269.000000
mean       54.028529
std        20.487701
min        18.000000
25%        37.000000
50%        53.957073
75%        71.000000
max        90.000000
Name: Age, dtype: float64

In [33]:
# Show extreme ages
df[(df['Age'] < 15) | (df['Age'] > 100)]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [37]:
# Remove formatting if needed
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [39]:
df['Age'].dtype

dtype('float64')

In [40]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [41]:
df['Age'].describe()

count    3269.000000
mean       54.028529
std        20.487701
min        18.000000
25%        37.000000
50%        53.957073
75%        71.000000
max        90.000000
Name: Age, dtype: float64

In [42]:
df[(df['Age'] < 15) | (df['Age'] > 65)]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.000000,Unknown
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
45,45,46a21acd-2b80-465b-86ca-0ccc90deb565,William Avila,77.0,kevin62smith.info,2022-11-30,118575.000000,Salesi
49,49,08a2c469-4d0a-4474-9adc-b080966e2130,Richard Collins,68.0,michaelhernandez@lee.com,2021-05-12,65728.000000,Unknown
51,51,f9d66dd9-4481-447b-9218-e280165ca091,John Bailey,69.0,robbinsfelicia@nelson.com,2020-09-30,39784.000000,Support
...,...,...,...,...,...,...,...,...
10904,7318,7e18652d-bd89-47ae-86b3-f1e5127f70a0,Jessica Mccann,73.0,wellis@alvarez.biz,2023-11-17,75720.000000,Sales
10943,7925,7f6aaa62-19f0-49c9-aeea-8ee7134b6b19,Scott Jones,89.0,dwayne98@hahn.com,2021-03-27,93275.000000,Sales
10955,182,c863225f-96ab-4baf-8f3c-edadef3aa9a6,Cynthia Bell,84.0,norrisamy@perez.com,2020-09-21,123116.121215,Support
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.0,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.org,2021-08-05,50510.777098,Support

In [43]:
df = df[(df['Age'] >= 15) & (df['Age'] <= 65)]

In [44]:
# Check for personal emails
personal_emails = df[df['Email'].str.contains(r'gmail|yahoo|hotmail|rediff', case=False, na=False)]
print("Personal emails:", personal_emails.shape[0])
personal_emails.head()

Personal emails: 0

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [46]:
df[df['Name'].str.len() > 30].head()

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [47]:
df = df.drop_duplicates(subset='ID', keep='first')

In [48]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [49]:
df = df[(df['Age'] >= 15) & (df['Age'] <= 65)]

In [52]:
df = df[df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]

In [53]:
df = df[~df['Email'].str.contains('gmail|yahoo|hotmail|rediff', case=False, na=False)]

In [54]:
# Fix typos
df['Department'] = df['Department'].replace({
    'Hr': 'HR',
    'HRv' : 'HR',
    'Engneering': 'Engineering',
    'EngineeringT' : 'Engineering',
    'Marketng': 'Marketing',
    'MarketingR' : 'Marketing',
    'SalesA' : 'Sales',
    'Saless': 'Sales',
    'Supporrt': 'Support',
    'SupportJ': 'Support'
})

In [55]:
df['Department'] = df['Department'].fillna('Unknown')

In [56]:
df['Name'] = df['Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df['Name'] = df['Name'].str.strip().str.title()

In [57]:
df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')
df = df.dropna(subset=['Join Date'])

In [58]:
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [59]:
df = df[(df['Salary'] >= 1000) & (df['Salary'] <= 300000)]

In [60]:
print("Missing names (NaN):", df['Name'].isnull().sum())

print("Empty or space-only names:",
      df['Name'].apply(lambda x: isinstance(x, str) and x.strip() == "").sum())

Missing names (NaN): 168
Empty or space-only names: 0

In [61]:
 # remove NaN
df = df[df['Name'].notnull()] 
 # remove empty or spaces
df = df[df['Name'].str.strip() != ""]

In [62]:
# Clean and format names
df['Name'] = df['Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True)  # remove symbols/numbers
df['Name'] = df['Name'].str.strip().str.title()

In [63]:
df['Name'].head(10)

9                     Jay Fisher
42               Kayla Carpenter
43                 Laura Douglas
63          Mrs Sheri Duffyparty
90     Mrs Betty Robinsonmission
97                  Steven Kirby
99                  Nicholas May
108                   Stacy Cruz
109                 Kevin Fowler
110                   Sydney Cox
Name: Name, dtype: object

In [64]:
df['Name'] = df['Name'].fillna('Unknown')
df['Name'] = df['Name'].apply(lambda x: 'Unknown' if str(x).strip() == '' else x)

In [65]:
# Preview cleaned names
df['Name'].value_counts().head(10)

Name
Joseph Rodriguez         2
Laura Walker             2
Jennifer Lee             2
Steven Jones             2
James Price              2
Daniel Garcia            1
Mary Fields              1
Mr Patrick Davis         1
Robert Mendozaservice    1
Kristin Mcconnell        1
Name: count, dtype: int64

In [66]:
# Save latest cleaned data
df.to_csv('../data/cleaned_dataset.csv', index=False)

In [67]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df = df[df['Age'] % 1 == 0]
df['Age'] = df['Age'].astype('Int64')

In [69]:
import re

In [70]:
df['Name'] = df['Name'].str.replace(r'^(mr|mrs|ms|dr)\s+', '', flags=re.IGNORECASE, regex=True)

In [71]:
df['Name'] = df['Name'].str.replace(r'(party|mission|company|office)$', '', flags=re.IGNORECASE, regex=True)

In [72]:
df['Name'] = df['Name'].str.strip().str.title()

In [73]:
df.to_csv('../data/cleaned_dataset.csv', index=False)

In [74]:
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')
df = df[df['Salary'] % 1 == 0]  # Keep only whole numbers
df['Salary'] = df['Salary'].astype('Int64')  # Convert to integer

In [75]:
df.to_csv('../data/cleaned_dataset.csv', index=False)