In [1]:
import pandas as pd

# Load the messy data
df = pd.read_csv('../data/messy_Data.csv')

# Basic checks
print("Shape:", df.shape)
print("\nInfo:")
print(df.info())

# Preview the data
df.head()

Shape: (11000, 8)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11000 non-null  int64
 1   ID          11000 non-null  object
 2   Name        8667 non-null   object
 3   Age         9253 non-null   float64
 4   Email       9731 non-null   object
 5   Join Date   8808 non-null   object
 6   Salary      8761 non-null   float64
 7   Department  8745 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 687.6+ KB
None

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [2]:
# Count missing values in each column
df.isnull().sum()

Unnamed: 0       0
ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [3]:
df.duplicated().sum()

np.int64(291)

In [4]:
df[df.duplicated()]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
10002,6557,07727d57-4574-4a0f-9372-51e7e7d526e7,NaN,NaN,NaN,NaN,NaN,NaN
10005,7708,418d64f6-5c24-4023-a19b-085664d8aa82,NaN,NaN,NaN,NaN,NaN,NaN
10008,2470,07a02c66-def7-4a7b-8b5a-792c3742d3f0,Lisa Reyes,37.0,dsmithhotmail.com,2022-06-06,87274.0,Sales
10009,2846,e3628acd-d04a-4b74-9775-1aecb6b938ba,NaN,NaN,NaN,NaN,NaN,NaN
10011,4168,6dd96a78-a797-404b-b47a-b5723ba8e605,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10975,4685,2adebc64-900d-431a-93cd-118de4bb6eb7,NaN,NaN,NaN,NaN,NaN,NaN
10978,3054,1ea7f125-698d-49dc-a97a-955b4dc4fc9b,NaN,NaN,NaN,NaN,NaN,NaN
10988,6403,4edd1e6e-cfb5-4300-9c74-e9642836e134,NaN,NaN,NaN,NaN,NaN,NaN
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaN,NaN,NaN
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.0,cdavis@hodges.com,2023-08-10,149224.0,Support

In [5]:
df[~df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkinshotmail.com,17/09/2020,77311.0,HR
7,7,465e625b-f924-4061-8356-c7e3130f7118,Derek Murphy,38.0,josephrobertsongmail.com,2021-01-12,NaN,Support
...,...,...,...,...,...,...,...,...
10978,3054,1ea7f125-698d-49dc-a97a-955b4dc4fc9b,NaN,NaN,NaN,NaN,NaN,NaN
10988,6403,4edd1e6e-cfb5-4300-9c74-e9642836e134,NaN,NaN,NaN,NaN,NaN,NaN
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.0,HR
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaN,NaN,NaN
10996,9785,da8a6bbc-5026-4630-848d-f64e80dac56c,Steven Armstrong,38.0,molly89gmail.com,2021-06-24,NaN,Sales

In [6]:
df = df[~df['Email'].str.contains('gmail|yahoo|hotmail', case=False, na=False)]

In [7]:
# Null values
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
Unnamed: 0       0
ID               0
Name          1826
Age           1520
Email         1269
Join Date     1737
Salary        1774
Department    1796
dtype: int64

In [8]:
# Duplicates
print("\nDuplicate rows:")
print(df.duplicated().sum())

Duplicate rows:
236

In [9]:
duplicated_rows = df[df.duplicated()]
print(duplicated_rows)

       Unnamed: 0                                    ID            Name   Age  \
10002        6557  07727d57-4574-4a0f-9372-51e7e7d526e7             NaN   NaN
10005        7708  418d64f6-5c24-4023-a19b-085664d8aa82             NaN   NaN
10009        2846  e3628acd-d04a-4b74-9775-1aecb6b938ba             NaN   NaN
10011        4168  6dd96a78-a797-404b-b47a-b5723ba8e605             NaN   NaN
10021        3639  e115c600-49f4-4ae4-9d22-7f4eac280c14             NaN   NaN
...           ...                                   ...             ...   ...
10975        4685  2adebc64-900d-431a-93cd-118de4bb6eb7             NaN   NaN
10978        3054  1ea7f125-698d-49dc-a97a-955b4dc4fc9b             NaN   NaN
10988        6403  4edd1e6e-cfb5-4300-9c74-e9642836e134             NaN   NaN
10995        6523  07c223be-03e6-4f70-a2b5-86df778cc61a             NaN   NaN
10999        7107  fc25a38a-5747-46eb-b6d3-7173f8255809  Caroline Ochoa  53.0

                   Email   Join Date    Salary Department
10002                NaN         NaN       NaN        NaN
10005                NaN         NaN       NaN        NaN
10009                NaN         NaN       NaN        NaN
10011                NaN         NaN       NaN        NaN
10021                NaN         NaN       NaN        NaN
...                  ...         ...       ...        ...
10975                NaN         NaN       NaN        NaN
10978                NaN         NaN       NaN        NaN
10988                NaN         NaN       NaN        NaN
10995                NaN         NaN       NaN        NaN
10999  cdavis@hodges.com  2023-08-10  149224.0    Support

[236 rows x 8 columns]

In [10]:
print("\nInvalid emails:")
invalid_emails = df[~df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]
display(invalid_emails)

Invalid emails:

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
18,18,05e36d3f-6422-4329-80b2-1fd3543ee254,NaN,NaN,NaN,NaN,NaN,NaN
19,19,a8b6e8e3-f2f2-42c6-b2d7-2bbfd9b91125,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10975,4685,2adebc64-900d-431a-93cd-118de4bb6eb7,NaN,NaN,NaN,NaN,NaN,NaN
10978,3054,1ea7f125-698d-49dc-a97a-955b4dc4fc9b,NaN,NaN,NaN,NaN,NaN,NaN
10988,6403,4edd1e6e-cfb5-4300-9c74-e9642836e134,NaN,NaN,NaN,NaN,NaN,NaN
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.0,HR
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print("\nUnique departments:")
print(df['Department'].unique())

Unique departments:
[nan 'Engineering' 'SupportJ' 'SupportE' 'HR' 'Marketing' 'SalesX'
 'Supportu' 'Engineeringi' 'MarketingR' 'Sales' 'MarketingU' 'Salesi'
 'HRa' 'Support' 'SalesG' 'SalesN' 'Marketingv' 'EngineeringL' 'Salesj'
 'Marketingr' 'HRW' 'HRt' 'HRz' 'EngineeringS' 'SupportW' 'EngineeringT'
 'SupportC' 'Marketingn' 'SupportB' 'HRi' 'Engineeringp' 'Supportg'
 'SupportQ' 'Salesr' 'Supporto' 'Marketingw' 'EngineeringM' 'Salesy'
 'Marketingm' 'HRw' 'Marketingo' 'EngineeringH' 'MarketingN'
 'EngineeringD' 'Marketingp' 'Marketingz' 'MarketingI' 'SupportT' 'Salesz'
 'Marketingt' 'SupportS' 'HRv' 'EngineeringR' 'MarketingQ' 'HRD' 'Saless'
 'Salesn' 'Engineeringl' 'SalesE' 'MarketingO' 'SalesD' 'HRy'
 'Engineerings' 'SalesI' 'Salesu' 'Supportk' 'MarketingE' 'Marketingk'
 'SalesA' 'SupportA' 'Supporte' 'Engineeringu' 'EngineeringO' 'SalesS'
 'SalesK' 'HRK' 'Engineeringb' 'SalesV' 'SupportY' 'SalesQ' 'Supportp'
 'HRr' 'MarketingX' 'Marketingf' 'HRU' 'MarketingH' 'SalesF' 'Salesq'
 'EngineeringV' 'SupportO' 'MarketingD' 'MarketingF' 'EngineeringC'
 'Engineeringe' 'Engineeringz' 'HRP' 'Salesv' 'HRI' 'Marketingh'
 'SupportH' 'HRL' 'HRm' 'Supportr' 'Supportd' 'HRZ' 'Supportj' 'HRE'
 'Marketingl' 'MarketingZ' 'Engineeringg' 'Salesc' 'EngineeringJ' 'SalesR'
 'Engineeringh' 'SupportX' 'Engineeringt' 'Marketingg' 'EngineeringG'
 'SalesH' 'SupportV' 'HRq' 'Marketingb' 'Engineeringc' 'HRs' 'Supportw'
 'SupportL' 'Marketings' 'Salese' 'HRX' 'EngineeringE' 'MarketingG'
 'SupportP' 'HRf' 'MarketingB' 'Engineeringf' 'EngineeringW'
 'Engineeringy' 'Marketinga' 'MarketingC' 'HRd' 'Engineeringx' 'HRA' 'HRp'
 'SalesZ' 'Supporta' 'MarketingV' 'EngineeringK' 'HRY' 'EngineeringZ'
 'MarketingY' 'HRM' 'Marketingx' 'EngineeringX' 'Supporti' 'HRO' 'SalesY'
 'HRN' 'Supportb' 'HRg' 'SalesT' 'Engineeringa' 'Salesl' 'Engineeringq'
 'SupportG' 'SalesB' 'Engineeringd' 'MarketingT' 'HRR' 'Engineeringw'
 'HRh' 'SupportZ' 'Marketingc' 'HRl' 'SupportK' 'Supportn' 'Marketingd'
 'EngineeringU' 'Supportx' 'Salesp' 'Salesk' 'HRu' 'MarketingK' 'HRb'
 'Supports' 'HRQ' 'HRC' 'Marketingj' 'EngineeringI' 'HRT' 'HRB'
 'MarketingM' 'Marketingq' 'Engineeringr' 'EngineeringF' 'SalesJ' 'HRF'
 'SalesU' 'Supporty' 'Supportm' 'SupportU' 'Marketingy' 'Marketinge'
 'Supportf' 'SupportM' 'Engineeringv' 'HRG' 'Supportt' 'Salesd' 'SalesL'
 'HRH' 'HRe' 'HRJ' 'EngineeringN' 'Engineeringj' 'HRV' 'HRk' 'HRS'
 'SalesP' 'Supportc' 'MarketingS' 'Engineeringm' 'Engineeringn'
 'EngineeringP' 'MarketingJ' 'SalesM' 'SupportI' 'Saleso' 'SupportD'
 'Salesf' 'HRj' 'SupportF' 'Supportl' 'Salesw' 'Salesg' 'SupportR' 'HRo'
 'Engineeringo' 'Engineeringk' 'Salesm' 'Salesa' 'MarketingW' 'Marketingu'
 'EngineeringQ' 'Supporth' 'Marketingi' 'Supportq' 'EngineeringA' 'SalesO'
 'Supportv' 'Supportz' 'SalesC' 'MarketingP' 'MarketingL' 'HRc']

In [12]:
df['Name'].sample(10)

5249        Christopher Phillips
7884            Kathleen Camacho
6969                         NaN
10556                        NaN
10155           James Butlerjust
3834               Angela Parker
7653     Derek Alexanderrecently
8645               Brandon Lopez
3077                         NaN
10124             Brooke Navarro
Name: Name, dtype: object

In [13]:

df = df.dropna(subset=['Join Date'])

In [14]:
# Count missing values per column
print("Missing values:")
print(df.isnull().sum())

Missing values:
Unnamed: 0      0
ID              0
Name          504
Age           226
Email           0
Join Date       0
Salary        465
Department    472
dtype: int64

In [15]:
# Drop rows with missing Join Date
df = df.dropna(subset=['Join Date'])

In [16]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [17]:
df['Department'] = df['Department'].fillna('Unknown')

In [18]:
print("Missing values:")
print(df.isnull().sum())

Missing values:
Unnamed: 0      0
ID              0
Name          504
Age             0
Email           0
Join Date       0
Salary        465
Department      0
dtype: int64

In [19]:
df = df.dropna(subset=['Join Date'])

In [20]:
df = df.dropna(subset=['Salary'])

In [21]:
df = df.dropna(subset=['Email'])

In [22]:
print("Remaining nulls:\n", df.isnull().sum())

Remaining nulls:
 Unnamed: 0      0
ID              0
Name          451
Age             0
Email           0
Join Date       0
Salary          0
Department      0
dtype: int64

In [23]:
# Check for missing IDs
print("Missing IDs:", df['ID'].isnull().sum())

# Check for duplicate IDs
print("Duplicate IDs:", df['ID'].duplicated().sum())

Missing IDs: 0
Duplicate IDs: 338

In [24]:
duplicated_IDs = df[df.duplicated()]
print(duplicated_IDs)

       Unnamed: 0                                    ID  \
10031        8691  fab90c01-1b0d-4f79-9edc-7898320defb0
10047        4217  8fa71f42-a18e-41c4-803b-6f3baa4318d8
10058        3825  674bdcff-2d2a-4804-ae25-5035257f26f0
10069        8984  a80bf1f8-97ab-4fcd-b9db-2c003f786a98
10071        2444  cc978ee3-8fbf-479a-ba03-1655b48f741e
10111        9469  ca1a37cf-843c-4baa-8cae-ad89ff7d4b63
10115        6937  c481ef12-a778-4f66-b902-80dbf4a5ec4f
10122        5962  2e3e4107-4f95-4631-970c-12f23dcfa067
10130        4589  f6414c7a-201c-47bf-9e0e-cd68562e0c64
10132        7943  57469371-e17e-4571-adb5-86040bae7eb2
10158        8792  acddec44-2148-4920-b747-af5ea4b1d73c
10177         455  5ed8b6ee-b74a-4df9-8a70-9dbef63a5cfa
10183        7970  a04dcd56-7dcf-4e05-be61-6311a7a1e8e5
10208        6976  1abdae1d-5950-41d8-8a01-9a3c5d75c35b
10215        3467  719b7b0e-dd53-4fd6-bd9a-a8b8d44039a6
10247        4691  8824be18-cfa1-4ffa-bbf4-a76edc59a007
10252        1845  e6b35fc1-ad59-4c4e-b1e0-4a1a3fc05b97
10283        4501  dad531f6-75db-4f57-816f-ca9f872c50c2
10288        4942  3beb0965-383e-4ba3-91ba-2d6e80973f48
10317        4909  f59a8607-0364-479f-bfc1-88286a2caa6e
10319        6222  414e7153-6a40-4efc-b320-3788a5644af4
10341        9022  3af90b9b-22e2-4612-8ec8-46f58f806e5b
10374        4764  86f84752-1adf-4ed4-b23a-fc206003cd6e
10379        8735  72ac837a-ce5f-4e09-a9d0-3ea6ec7e80c5
10395        2466  54ef676d-c624-48b8-9fc6-493e7bea7156
10469         138  0a4fa7fe-a16d-4397-8478-1c162693b29c
10470        2508  b669fad2-ddd3-4ba5-9704-d3a1daba3cc9
10500        7675  6b1d779f-4dc5-463a-bd8a-2bd61a14c71a
10510        2361  d99c523d-9b4c-4a7c-abd9-c7a3f0f5e63d
10529        7955  42ae3ca1-cc97-4d99-92a3-c931051ee9c9
10577        7378  2b13d45b-e5bb-47bd-9382-abf49d3939f8
10634        6899  4adc0381-3b48-448e-a26b-ed98a8597545
10669        1462  1e0ced0c-e660-4019-bf94-9c13886d6d38
10738        1681  a6e79f4f-15d5-4cca-a393-89759aec91eb
10743        8415  457ed030-423c-4812-92ce-fd9037a25b28
10773         183  15cfc09a-fbc9-46bc-88c0-da599fcfe12e
10808        1823  d0c71018-9ffd-4d08-9c3d-80048b3a09a6
10818        8020  9764e5f6-f77f-4263-88fa-690d6a487648
10833        3079  9d615073-beda-4fc6-b46a-d12ac5ea6b23
10838        4582  8ad90927-342c-4d04-a504-5e09923916df
10864        7805  8b28da1b-9f17-4276-a2e6-c489a54c0953
10878        8714  4bef5bf5-199e-4d39-bce3-4a32ddc8a3bc
10901        5893  faa607cf-70f7-4bae-86d3-423c79bd9030
10903        8121  be752642-5c9e-4271-8514-5eb69e22116c
10953        6467  ca7db8b2-7d42-4292-bc22-c6d4b7fd98d9
10999        7107  fc25a38a-5747-46eb-b6d3-7173f8255809

                        Name        Age                             Email  \
10031      Bradley Fernandez  77.000000         joannebriggs@buchanan.biz
10047              Lori Boyd  62.000000                    Zachary Deleon
10058         Kimberly Black  62.000000         karen29@mays-harrison.com
10069            Holly Lloyd  71.000000        wtylerjohnson-williams.com
10071         Kevin Mitchell  67.000000                  Timothy Thompson
10111            April Green  54.068603          oshaw@parks-castillo.org
10115            Alyssa Hill  37.000000                     Brandon Kelly
10122          Mariah Rogers  35.000000               smithchelsea@li.biz
10130        Daniel Clements  72.000000           jeffrey13@rodriguez.com
10132         Theodore Kelly  85.000000    ashley16@pollard-hernandez.com
10158               Jon Moon  40.000000       gabriel42raymond-jordan.org
10177           Steven Jones  73.000000         leonardjoseph@gregory.com
10183        Kristen Johnson  54.068603               matthewhill@lee.org
10208          Charles Downs  54.000000                   Nicholas Porter
10215           Megan Potter  61.000000        beverlymcdaniel@garcia.com
10247           Daniel Smith  42.000000             hreese@hughes-cox.org
10252                    NaN  42.000000            cynthiaaguirrereid.com
10283                    NaN  65.000000         galvandaniel@phillips.com
10288            Juan Vargas  88.000000             leeangela@burgess.com
10317              David Lee  76.000000               ksmith@garrison.com
10319          Marcus Gibson  58.000000                    pperez@roy.org
10341                    NaN  76.000000            ryanchelsey@santos.com
10374           Tiffany Wolf  29.000000   michaelhenry@anderson-perez.com
10379  Christine Fitzpatrick  44.000000          millerraymond@wilcox.com
10395            Randall Ray  72.000000             rossjohn@sullivan.com
10469          Michael Weber  72.000000     lawrencejames@white-smith.com
10470      Michelle Martinez  73.000000           walkerandrew@taylor.org
10500      Mrs. Amanda Smith  28.000000             bassgary@kim-hall.com
10510            Carl Miller  77.000000            Dr. Elizabeth Bartlett
10529         Amanda Barrera  61.000000                       Brooke York
10577            Tammie Leon  60.000000  richardlynch@salinas-johnson.com
10634         Emily Richards  21.000000                  ann79@nelson.com
10669                    NaN  43.000000                     Jessica Avila
10738                    NaN  33.000000          fowlertimothy@deleon.com
10743          Sarah Johnson  19.000000                        George Lee
10773          Donald Patton  46.000000              andrea07@collins.net
10808       James Cunningham  41.000000                whitejohn@kane.com
10818                    NaN  34.000000                      Brenda Silva
10833            Nancy Brown  54.068603        wendy17@everett-howell.com
10838       Bonnie Hernandez  45.000000     matthew16@sellers-riddle.info
10864             Maria Wood  49.000000      umendoza@sanchez-vincent.com
10878      Christopher Cline  38.000000                      Michael Hill
10901          Gary Mckenzie  40.000000             miranda19@simmons.com
10903                    NaN  19.000000          daviddillon@sandoval.com
10953                    NaN  25.000000                hprince@nelson.com
10999         Caroline Ochoa  53.000000                 cdavis@hodges.com

        Join Date    Salary   Department
10031  2021-11-06  147667.0      Unknown
10047  2022-03-31   51060.0        Sales
10058  2021-12-17  133204.0        Sales
10069  2020-07-31  103239.0      Support
10071  2022-06-19   49447.0  Engineering
10111  2024-01-05  125342.0           HR
10115  2022-06-21   63714.0        Sales
10122  2020-06-21   69167.0      Support
10130  2020-12-13   96708.0    Marketing
10132  2023-02-23   39697.0      Unknown
10158  2021-01-31   78468.0  Engineering
10177  2020-11-24  109641.0           HR
10183  2021-08-19  115974.0           HR
10208  2021-11-11   84647.0    Marketing
10215  2022-08-23  146093.0        Sales
10247  2023-02-18  142212.0      Support
10252  2023-03-03   93179.0        Sales
10283  2022-12-31   98849.0      Unknown
10288  2021-05-18  130763.0  Engineering
10317  2023-05-11   56836.0      Unknown
10319  2020-04-18  135821.0           HR
10341  2020-11-14   68079.0      Unknown
10374  2020-08-22   51276.0      Unknown
10379  2021-07-09   72424.0      Unknown
10395  2022-06-07   81508.0        Sales
10469  2022-08-01  148792.0  Engineering
10470  2021-07-12   36522.0  Engineering
10500  2020-09-18  143766.0        Sales
10510  2024-02-07  107066.0        Sales
10529  2024-05-25  108581.0    Marketing
10577  2024-02-19   65214.0           HR
10634  2022-06-14  107692.0        Sales
10669  2021-03-07   53261.0  Engineering
10738  2022-07-07  146145.0    Marketing
10743  2023-12-16   42032.0    Marketing
10773  2020-10-10  125069.0    Marketing
10808  2020-08-30   86142.0      Support
10818  2023-12-21  131036.0        Sales
10833  2021-07-01  144098.0    Marketing
10838  2022-01-10   58773.0      Support
10864  2022-04-24  146036.0           HR
10878  2023-11-08   89332.0           HR
10901  2022-11-25  140881.0  Engineering
10903  2023-08-04   57051.0           HR
10953  2023-07-29  149588.0    Marketing
10999  2023-08-10  149224.0      Support

In [25]:
df[df['Name'].str.contains(r'[^a-zA-Z\s]', na=False)]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
63,63,6e50ff2b-ee84-4ba1-adc1-88aced745fff,Mrs. Sheri Duffyparty,38.000000,woodmadison@rice.com,2023-05-06,93430.000000,Marketing
74,74,ee302c6d-5164-4b86-bad1-b9624b44c130,Mr. Larry Mcpherson,23.000000,austingillespie@gould-chapman.com,17/05/1972,75391.000000,HR
90,90,7edc8e0d-ef5f-4bed-88e3-f4c696dc318d,Mrs. Betty Robinsonmission,50.000000,ecollier@long.com,2024-01-14,145538.000000,Support
269,269,d13d6f3e-dff7-4fa9-b5ee-9a613dd6b04a,Dr. Alex Collins,54.068603,wcummings@williams.com,2020-05-18,56932.000000,Unknown
677,677,c34ccb1d-e30b-4f00-8f47-7260974ba743,Mr. Peter Anderson,63.000000,nrandolph@mueller.com,2022-09-04,81956.862820,Unknown
...,...,...,...,...,...,...,...,...
9979,9979,03aeb412-3c27-435f-a878-d86a76f0085e,Mr. Christopher Todd DDS,72.000000,scottkristinamccarthy-bennett.com,2020-07-26,108725.000000,Engineering
10371,5595,cf078164-8f18-4f6f-b4dc-3b28723c93ef,Mr. Patrick Davis,54.000000,garzakelsey@schneider.com,2020-09-13,94534.000000,Marketing
10391,9979,03aeb412-3c27-435f-a878-d86a76f0085e,Mr. Christopher Todd DDS,72.000000,scottkristina@mccarthy-bennett.com,2020-07-26,126650.234612,Engineering
10500,7675,6b1d779f-4dc5-463a-bd8a-2bd61a14c71a,Mrs. Amanda Smith,28.000000,bassgary@kim-hall.com,2020-09-18,143766.000000,Sales
10661,7514,36cfaf39-05f5-4656-bfa2-e6e5a028e9c0,Mrs. Linda Young,62.000000,luis29@johnson.net,2024-03-01,54434.185983,Unknown

In [26]:
df[df['Name'].str.len() < 3]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [27]:
# Check age range
df['Age'].describe()

# Show extreme ages
df[(df['Age'] < 15) | (df['Age'] > 65)]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.000000,Unknown
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
41,41,5cf2e1ee-cf23-4d2f-a136-2602279af7f0,Dawn Tucker,86.0,peterskarenstafford.net,15/12/2019,118182.861107,Engineering
45,45,46a21acd-2b80-465b-86ca-0ccc90deb565,William Avila,77.0,kevin62smith.info,2022-11-30,118575.000000,Salesi
...,...,...,...,...,...,...,...,...
10943,7925,7f6aaa62-19f0-49c9-aeea-8ee7134b6b19,Scott Jones,89.0,dwayne98@hahn.com,2021-03-27,93275.000000,Sales
10955,182,c863225f-96ab-4baf-8f3c-edadef3aa9a6,Cynthia Bell,84.0,norrisamy@perez.com,2020-09-21,123116.121215,Support
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.0,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.org,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.000000,HR

In [28]:
# Try to convert join date
df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')

# Invalid dates become NaT
df[df['Join Date'].isnull()]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.000000,milleryvonne@fowler-york.com,NaT,123018.000000,SupportE
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.000000,griffinlinda@harrison.com,NaT,51625.814403,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54.068603,longjennifer@parker.biz,NaT,85794.000000,SalesX
23,23,13b6428a-ba54-4531-87a1-72c3c3ccf765,Laura Davis,60.000000,garciaralph@hayes-hernandez.biz,NaT,61209.000000,Engineeringi
41,41,5cf2e1ee-cf23-4d2f-a136-2602279af7f0,Dawn Tucker,86.000000,peterskarenstafford.net,NaT,118182.861107,Engineering
...,...,...,...,...,...,...,...,...
10965,5770,26148a39-38be-48f2-94dc-bf07b7377604,Joshua Mckinneyaccount,44.000000,donna81nguyen-ward.com,NaT,131708.486582,Sales
10967,9195,c10650e6-087d-4aa0-b6c8-e23a9bc54a20,Anna Stark,34.000000,michael26@thomas-benson.com,NaT,42177.000000,Engineering
10968,1452,ac20dc9a-7ddf-440a-8d21-b21fc0a094a6,Cathy Carter,54.000000,johnsonamanda@moreno.info,NaT,54588.000000,HR
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.000000,Michael Walker,NaT,47809.000000,HR
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.068603,robert96@pollard-frye.com,NaT,122609.594149,HR

In [29]:
# Remove formatting if needed
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Check outliers
df['Salary'].describe()
df[df['Salary'] > 100000]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.000000,Jillian Jenkins,2022-07-07,139227.000000,Unknown
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.000000,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.000000,milleryvonne@fowler-york.com,NaT,123018.000000,SupportE
41,41,5cf2e1ee-cf23-4d2f-a136-2602279af7f0,Dawn Tucker,86.000000,peterskarenstafford.net,NaT,118182.861107,Engineering
45,45,46a21acd-2b80-465b-86ca-0ccc90deb565,William Avila,77.000000,kevin62smith.info,2022-11-30,118575.000000,Salesi
...,...,...,...,...,...,...,...,...
10955,182,c863225f-96ab-4baf-8f3c-edadef3aa9a6,Cynthia Bell,84.000000,norrisamy@perez.com,2020-09-21,123116.121215,Support
10965,5770,26148a39-38be-48f2-94dc-bf07b7377604,Joshua Mckinneyaccount,44.000000,donna81nguyen-ward.com,NaT,131708.486582,Sales
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.068603,robert96@pollard-frye.com,NaT,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.000000,roypark@warren.net,2020-10-09,147322.005171,Support
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.000000,cdavis@hodges.com,2023-08-10,149224.000000,Support

In [30]:
# Remove formatting if needed
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Check outliers
df['Salary'].describe()
df[df['Salary'] > 150000]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
551,551,1f55ec76-0b42-4cef-8269-1bbaead86b20,Caitlin Thomas,54.068603,wallskimberly@hernandez-stevens.org,NaT,151820.424518,Marketingp
892,892,112a7152-8a91-4a16-9497-51510390970c,Jason Mccormick,55.000000,wattschristopher@russell.info,2022-03-28,156047.688076,HRv
1018,1018,9db2bc16-ea91-4282-b397-73f47c5dff8e,Bruce Blevinsgovernment,88.000000,monica56@garrett.com,2023-09-22,156172.650565,Engineeringb
1163,1163,6444e286-ea89-4253-9bf1-adfc03d07cc1,Jennifer Freeman,40.000000,hernandezamy@lee.info,2022-11-01,166980.268534,Marketing
1713,1713,d9a80082-ec48-4368-b4b0-fe2e87a3c1ab,Evan Carlson,51.000000,carnold@perkins.com,2020-01-14,158635.450640,Engineering
1908,1908,8d80feeb-52aa-4edb-a9db-556b09a13e42,Jeff Buckley,54.068603,mercedes77@ruiz.com,NaT,164519.412861,Sales
1911,1911,7d03df46-af3b-44a3-9193-b22330811de0,Tonya Valdez,23.000000,Michaela Johnson,NaT,151250.141015,Sales
2029,2029,f449a2bf-4214-463f-87b7-09cea2713b6c,Julie Fordsubject,18.000000,melanie14@parks-logan.com,2021-05-16,155062.917359,Unknown
2179,2179,6f93c38b-a4ff-4c07-8071-74c96740cc63,John Morrison,28.000000,omar81@navarro.com,NaT,166789.922265,Engineering
2622,2622,4dfb249d-e226-4855-a015-98aff587fee4,James Moorephone,50.000000,rcoleestes.com,2023-06-14,167677.677624,Marketing
2782,2782,966a7d70-0e0f-4e19-a126-eab331c9af28,Courtney Wolf,63.000000,brandon64@solis.com,NaT,152334.647841,Unknown
3007,3007,a04ea2e2-8dac-43a8-9284-e21c6cc0f856,Charles Collins,64.000000,clementserinlopez.com,2022-09-25,157988.355545,Support
3074,3074,b8039e1b-0df4-4f3a-b760-19f975f6c60b,Margaret Santiagoright,52.000000,rosariochristopher@craig.com,2022-09-15,158353.901635,Engineeringz
3109,3109,eceb288a-d930-4211-bf95-702c99135ea4,Barbara Bauer,66.000000,brandy80brown.com,NaT,158324.007782,Support
3158,3158,610a654e-05f9-41ca-94bb-ceb97160346c,Sharon Allen,85.000000,cgalloway@richards.net,2021-02-05,161845.935848,Sales
3375,3375,0352ab92-5f9c-40d0-995a-d5081bedb870,Natalie Dickerson,63.000000,phampaul@mckinney.org,2021-05-31,157566.089361,Sales
3376,3376,9c645423-3a89-43a1-9951-9c5a35519656,NaN,59.000000,brasmussen@bennett-miller.com,2020-08-22,155230.508544,Supporte
3379,3379,bba68f42-67ac-42eb-a50a-c83ad5885e87,Shelby Hernandez,54.000000,jacobstrevor@adams.com,2023-03-29,156018.088368,HR
3529,3529,812b65f6-66d2-41cb-81e2-f1b5ac30adb4,Tonya Powersspeech,85.000000,rmitchell@richardson.net,2023-06-28,162618.578204,Engineeringx
3840,3840,63079a36-24ba-4202-9996-b42a1e5a0daf,Anthony Barnett,78.000000,frederickbautistaoliver.org,NaT,152938.785997,HR
4169,4169,4118bec4-8105-4971-bead-2bf881ff82a9,Leah Adams,64.000000,nancy97@hodges.com,2020-03-28,155061.804487,Unknown
4413,4413,93cc547d-a466-4883-a589-7141d7fc3241,NaN,31.000000,mfrancis@thomas.com,2020-09-13,151701.277643,Marketingz
4677,4677,7b7e3e4c-fe32-4c7e-8491-1182fd6655c9,Dawn Ellis,61.000000,tbaileysmith.biz,2022-12-29,160965.616807,Marketing
4744,4744,a71675bf-e0e4-4ea6-a159-dc22f11b9766,Devin Montgomery,53.000000,pjones@garrison.com,2022-10-09,160023.015500,Engineering
4980,4980,194fb5e0-f848-4bb9-9539-54164e4cc362,Angel Miller,37.000000,jeffrey20@mcfarland.org,2024-05-07,157633.571656,Marketing
5624,5624,33d919c0-db67-44f3-a406-d6ffc3db22d2,Michael Hernandez,54.068603,heidismith@greer-collins.net,NaT,169872.808376,Engineering
5631,5631,b1ff0235-c53e-404d-8bb3-d1e8be210ef7,Dustin Ellis,54.068603,hoffmangary@meyer.com,NaT,174786.876707,Engineering
5666,5666,4ad6157c-177d-4286-bbe5-298f18d4e936,Steven Jensen,54.068603,fkim@watson.com,2020-09-08,162479.056868,Unknown
5697,5697,a58cf326-ce9a-4731-8074-dbd065927832,Tracy Chaney,24.000000,kelseypollard@velasquez.com,2021-09-29,150519.666949,HR
6025,6025,98a67f09-f4dd-4e45-bc8b-b2b0744831a3,Chad West,65.000000,tannerjulie@gates-mahoney.com,2022-02-21,154796.130466,HRm
6674,6674,21c473c4-1d94-4300-8a66-8ddedcce6054,Oscar Williams,29.000000,hsmith@mack-byrd.com,2020-10-02,171632.138435,Marketing
6740,6740,58f28cc0-2588-46b2-b239-a8d44e070272,Dawn Anderson,85.000000,grantmary@foster.net,2021-06-08,158742.283774,HR
6956,6956,d1142a24-18e8-4f43-8359-065edcad575a,Toni Josephinclude,73.000000,ckanetaylor.com,2023-04-19,155282.847845,Marketing
7209,7209,1a48eeb4-cd67-4b4e-a124-5d06544831e0,Christopher George,85.000000,daniellindsey@allen-lowe.info,2022-11-19,163744.557323,Support
7237,7237,53eabd8c-2f14-4b43-abd5-4bc6f6cc8df6,Claudia Best,54.068603,kingcraigjimenez.com,NaT,161683.047722,Engineering
7468,7468,c273f893-3aee-4885-9644-554fd77adad8,Kelly Moore,65.000000,cynthia55@lynch.biz,2024-06-12,159756.739345,Sales
7614,7614,c380614d-b83c-4756-b4b4-31ced43cdb99,Brandon Graham,60.000000,grahammichelle@williams.com,NaT,175218.428249,Marketing
7628,7628,1f9fd23d-76ca-4530-9468-fe75d7831979,Adam Mccoy DDStax,54.068603,fitzpatricksuzannebrewer-malone.biz,2020-02-01,162720.138735,Salesa
7829,7829,d45b44ae-b0d7-4899-9bb7-ae797b00f8ab,Dr. Clifford Carrillo IIpopular,18.000000,charles26@rivera-meyer.com,NaT,152321.214592,Support
7922,7922,b70fcd4e-0b91-4f02-a899-e3441c8a91fe,NaN,66.000000,stevensmithbautista.org,2022-04-29,159998.737605,Engineeringi
7950,7950,778e4f80-ed9d-4ec7-87c3-0e8c462d93e4,William Joyce,18.000000,teresa64@campbell.info,NaT,171320.244757,Engineering
8291,8291,0e51c17c-4677-4337-b7e6-e48c5c231566,NaN,20.000000,dunlapdaniel@edwards.com,2021-10-03,150500.332037,SalesZ
8592,8592,b92b1044-2e07-4152-985e-ab82246b1393,Robert Torres,24.000000,evanclay@thompson.com,2021-03-13,163399.195556,Engineering
9091,9091,69054b64-93d4-4699-99f9-03dd826ec061,April Parker,62.000000,victoriasims@bennett.com,NaT,165560.143182,Sales
9184,9184,adf69435-9fa2-4cdf-a8a9-1df1fec31eb3,Patricia Moralescrime,90.000000,jameswilliams@peterson-davis.com,2020-11-19,165561.064981,HR
9207,9207,cd00b0d6-e817-43ab-8c8b-61293b90e5a6,Blake Campos,32.000000,kimgarcia@price-lloyd.com,NaT,152613.666186,Sales
9497,9497,8500ea6b-9f78-4666-9b7e-8281f94f0d5f,Glen Lee,24.000000,caleb06@gibson-miller.com,NaT,158529.722153,Support
9739,9739,ce1ef8d4-b126-4a91-bcca-9b60b651cd45,Jonathan Rodriguez,54.068603,ihall@foster.com,2020-05-29,151590.607270,Support
10112,8280,d1bf669f-4574-4cc0-bfc6-47bc2ac85cc6,Donna Murphy,41.000000,josephkeith@roberts.com,2020-02-08,161700.245353,HR
10211,4318,6ac86837-d14a-4cb9-b924-c28d331486e0,NaN,25.000000,saundersmatthew@beck.biz,2022-04-24,155041.982178,Engineering
10352,7007,9f0620d7-e537-4027-a7a2-508d0608a1d5,Ryan Coleman,86.000000,carolinehutchinson@allen-carlson.com,2023-12-18,157000.894686,Marketing

In [31]:
# Remove formatting if needed
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Check outliers
df['Salary'].describe()
df[df['Salary'] > 200000]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [32]:
# Unique values
df['Department'].unique()

array(['Unknown', 'Engineering', 'SupportJ', 'SupportE', 'HR',
       'Marketing', 'SalesX', 'Supportu', 'Engineeringi', 'MarketingU',
       'Salesi', 'HRa', 'Support', 'SalesG', 'SalesN', 'Sales',
       'EngineeringL', 'Salesj', 'Marketingr', 'HRW', 'HRz',
       'EngineeringS', 'EngineeringT', 'SupportC', 'Marketingn',
       'SupportB', 'HRi', 'Engineeringp', 'SupportQ', 'Salesr',
       'Supporto', 'Marketingw', 'EngineeringM', 'Salesy', 'Marketingm',
       'HRw', 'Marketingo', 'EngineeringH', 'MarketingN', 'EngineeringD',
       'Marketingp', 'Marketingz', 'MarketingI', 'Salesz', 'Marketingt',
       'SupportS', 'HRv', 'EngineeringR', 'MarketingQ', 'Saless',
       'Salesn', 'SalesE', 'SalesD', 'HRy', 'Engineerings', 'SalesI',
       'Salesu', 'Supportk', 'MarketingE', 'Marketingk', 'SalesA',
       'SupportA', 'Supporte', 'Engineeringu', 'EngineeringO', 'SalesS',
       'SalesK', 'HRK', 'Engineeringb', 'SalesV', 'SupportY', 'SalesQ',
       'Supportp', 'HRr', 'MarketingX', 'HRU', 'MarketingH', 'SalesF',
       'Salesq', 'EngineeringV', 'SupportO', 'MarketingD', 'MarketingF',
       'EngineeringC', 'Engineeringe', 'Engineeringz', 'HRP', 'Salesv',
       'HRI', 'Marketingh', 'SupportH', 'HRL', 'Supportr', 'Supportd',
       'HRZ', 'Supportj', 'HRE', 'Marketingl', 'MarketingZ',
       'Engineeringg', 'Salesc', 'EngineeringJ', 'SalesR', 'HRm',
       'Marketingg', 'EngineeringG', 'SalesH', 'SupportV', 'HRq',
       'Engineeringc', 'HRs', 'Supportw', 'SupportL', 'Marketings',
       'Salese', 'SupportX', 'MarketingG', 'SupportP', 'Engineeringf',
       'EngineeringW', 'Engineeringy', 'MarketingC', 'HRd',
       'Engineeringx', 'HRA', 'HRp', 'Supporta', 'HRY', 'EngineeringZ',
       'MarketingY', 'HRM', 'EngineeringX', 'Supporti', 'HRO', 'HRN',
       'Engineeringh', 'Supportb', 'HRg', 'SalesT', 'Engineeringa',
       'Salesl', 'Engineeringq', 'SupportG', 'SalesB', 'Engineeringd',
       'MarketingT', 'Engineeringw', 'HRh', 'SupportZ', 'Marketingc',
       'HRl', 'SupportK', 'Supportn', 'EngineeringE', 'Marketingd',
       'EngineeringU', 'Supportx', 'Salesp', 'Salesk', 'HRu', 'HRb',
       'Supports', 'HRC', 'Marketingj', 'HRB', 'MarketingM', 'Marketingq',
       'Engineeringr', 'EngineeringF', 'HRX', 'SalesJ', 'HRF', 'Supporty',
       'Marketingf', 'Supportm', 'SupportU', 'Marketingy', 'Marketinge',
       'Engineeringl', 'SalesZ', 'HRG', 'Supportt', 'Salesd', 'SalesL',
       'HRH', 'MarketingV', 'HRe', 'HRJ', 'EngineeringN', 'Engineeringj',
       'SupportM', 'HRV', 'MarketingB', 'HRR', 'HRk', 'Engineeringv',
       'HRS', 'Supportc', 'MarketingK', 'MarketingS', 'Marketingv',
       'Engineeringm', 'Marketingx', 'Engineeringn', 'MarketingO', 'HRt',
       'MarketingR', 'EngineeringP', 'SalesY', 'MarketingJ', 'SalesM',
       'SupportI', 'Saleso', 'SupportD', 'EngineeringI', 'Salesf', 'HRj',
       'SupportT', 'Supportl', 'Salesw', 'Salesg', 'SupportR', 'HRo',
       'Engineeringo', 'Engineeringt', 'Engineeringk', 'SupportW',
       'Salesm', 'Salesa', 'SalesU', 'Marketingu', 'HRf', 'EngineeringQ',
       'Marketingi', 'Supportq', 'EngineeringA', 'Supportf', 'Supportg',
       'Supportv', 'HRT', 'Supportz', 'SalesC', 'Marketingb',
       'MarketingL', 'MarketingP', 'HRD'], dtype=object)

In [33]:
df['Age'].describe()

count    4134.000000
mean       54.164213
std        20.483004
min        18.000000
25%        37.000000
50%        54.068603
75%        71.750000
max        90.000000
Name: Age, dtype: float64

In [34]:
df[(df['Age'] < 15) | (df['Age'] > 65)]

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.000000,Unknown
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,NaT,123018.000000,SupportE
41,41,5cf2e1ee-cf23-4d2f-a136-2602279af7f0,Dawn Tucker,86.0,peterskarenstafford.net,NaT,118182.861107,Engineering
45,45,46a21acd-2b80-465b-86ca-0ccc90deb565,William Avila,77.0,kevin62smith.info,2022-11-30,118575.000000,Salesi
...,...,...,...,...,...,...,...,...
10943,7925,7f6aaa62-19f0-49c9-aeea-8ee7134b6b19,Scott Jones,89.0,dwayne98@hahn.com,2021-03-27,93275.000000,Sales
10955,182,c863225f-96ab-4baf-8f3c-edadef3aa9a6,Cynthia Bell,84.0,norrisamy@perez.com,2020-09-21,123116.121215,Support
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.0,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.org,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,NaT,47809.000000,HR

In [35]:
df = df[(df['Age'] >= 15) & (df['Age'] <= 65)]

In [36]:
# Check unique department names
print("Unique department names:\n", df['Department'].unique())

Unique department names:
 ['SupportJ' 'HR' 'Marketing' 'SalesX' 'Supportu' 'Engineeringi'
 'Engineering' 'MarketingU' 'SalesG' 'Support' 'Sales' 'EngineeringL'
 'Salesj' 'Marketingr' 'HRW' 'Unknown' 'EngineeringT' 'SupportC'
 'Marketingn' 'Engineeringp' 'SupportQ' 'Salesr' 'Marketingw'
 'EngineeringM' 'Salesy' 'HRw' 'EngineeringH' 'MarketingN' 'EngineeringD'
 'Marketingp' 'Marketingz' 'MarketingI' 'Salesz' 'Marketingt' 'SupportS'
 'EngineeringR' 'MarketingQ' 'Salesn' 'SalesE' 'SalesD' 'HRy'
 'Engineerings' 'SalesI' 'Salesu' 'HRv' 'Marketingk' 'SalesA' 'SupportA'
 'SalesS' 'Supporte' 'SalesK' 'SalesV' 'Supporto' 'Supportk' 'Supportp'
 'MarketingX' 'MarketingH' 'SalesF' 'SupportO' 'MarketingD' 'MarketingF'
 'EngineeringC' 'Engineeringz' 'Salesq' 'HRP' 'Salesv' 'HRi' 'Marketingh'
 'SupportH' 'HRL' 'Supportd' 'HRZ' 'MarketingE' 'MarketingZ'
 'EngineeringJ' 'Engineeringg' 'SalesR' 'HRm' 'EngineeringG' 'SalesH'
 'SupportV' 'HRq' 'Engineeringc' 'HRs' 'Marketings' 'SupportY' 'Salese'
 'MarketingG' 'SupportP' 'Engineeringf' 'Engineeringy' 'Engineeringx'
 'Salesi' 'HRA' 'HRY' 'MarketingY' 'HRM' 'MarketingC' 'EngineeringX'
 'Supporta' 'HRO' 'Marketingm' 'Supportb' 'EngineeringO' 'SalesT'
 'Engineeringa' 'Salesl' 'Engineeringq' 'Engineeringd' 'MarketingT'
 'Engineeringw' 'EngineeringV' 'SalesN' 'HRN' 'SupportG' 'SupportZ'
 'Marketingc' 'SupportK' 'Supportn' 'EngineeringE' 'Marketingd'
 'EngineeringU' 'Supportx' 'SalesB' 'HRE' 'Salesk' 'HRu' 'HRr' 'HRb'
 'SupportX' 'Supports' 'HRC' 'Engineeringb' 'Supporti' 'HRB' 'MarketingM'
 'Engineeringh' 'Marketingq' 'Engineeringr' 'EngineeringF' 'HRX' 'SalesJ'
 'HRF' 'Supporty' 'Engineeringu' 'Marketingf' 'Supportm' 'Marketingy'
 'Marketinge' 'SalesZ' 'HRp' 'Engineeringl' 'HRG' 'Salesd' 'SupportU'
 'HRH' 'Engineeringe' 'Salesp' 'MarketingV' 'HRe' 'Saless' 'HRJ'
 'Engineeringj' 'SalesQ' 'MarketingB' 'HRR' 'Marketingl' 'HRU' 'HRl' 'HRk'
 'EngineeringN' 'Engineeringv' 'Supportc' 'MarketingS' 'Marketingv'
 'EngineeringZ' 'Engineeringm' 'Marketingx' 'EngineeringS' 'MarketingO'
 'HRt' 'MarketingR' 'EngineeringP' 'SalesY' 'MarketingJ' 'SalesM'
 'SupportI' 'HRS' 'SupportD' 'Supportt' 'EngineeringI' 'Salesf' 'HRj'
 'Engineeringn' 'SupportT' 'HRo' 'HRd' 'HRK' 'Engineeringt' 'Engineeringk'
 'SupportW' 'Salesm' 'SupportE' 'Saleso' 'SupportL' 'HRg' 'HRz' 'SalesL'
 'SupportR' 'Supportl' 'HRa' 'Marketingo' 'Salesa' 'SalesU' 'Marketingu'
 'HRf' 'EngineeringQ' 'Marketingi' 'MarketingK' 'EngineeringA' 'Supportg'
 'HRI' 'SalesC' 'Supportf' 'Supportw' 'Marketingb' 'MarketingL'
 'MarketingP' 'HRh' 'HRT' 'SupportM']

In [37]:
df['Department'] = df['Department'].replace({
    'Hr': 'HR',
    'Engneering': 'Engineering',
    'Marketng': 'Marketing',
    'Saless': 'Sales',
    'Supporrt': 'Support',
    'SupportJ': 'Support'
})

In [38]:
# Remove symbols first (if needed)
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [39]:
# Check range
print("Salary Stats:\n", df['Salary'].describe())

Salary Stats:
 count      2794.000000
mean      90569.496160
std       35468.882947
min       26251.552316
25%       59545.446975
50%       89394.000000
75%      121128.750000
max      175218.428249
Name: Salary, dtype: float64

In [40]:
# Check extreme high salaries
df[df['Salary'] > 150000].head()

# Check zero or very low salaries
df[df['Salary'] < 1000].head()

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [41]:
# Check extreme high salaries
df[df['Salary'] > 300000]

# Check zero or very low salaries
df[df['Salary'] < 1000]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [42]:
# Names with special characters
df[df['Name'].str.contains(r'[^a-zA-Z\s]', na=False)].head()

# Unusually long names
df[df['Name'].str.len() > 30].head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
7829,7829,d45b44ae-b0d7-4899-9bb7-ae797b00f8ab,Dr. Clifford Carrillo IIpopular,18.0,charles26@rivera-meyer.com,NaT,152321.214592,Support

In [43]:
df = df.drop_duplicates(subset='ID', keep='first')

In [44]:
# Convert to numeric if not already
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# Remove age outliers (<15 or >100)
df = df[(df['Age'] >= 15) & (df['Age'] <= 65)]

In [45]:
# Remove invalid emails
df = df[df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]

# Remove personal email domains
df = df[~df['Email'].str.contains('gmail|yahoo|hotmail|rediff', case=False, na=False)]

In [46]:
df['Department'] = df['Department'].replace({
    'Hr': 'HR',
    'Engneering': 'Engineering',
    'Marketng': 'Marketing',
    'Saless': 'Sales',
    'Supporrt': 'Support',
    'SupportJ': 'Support'
})

In [47]:
# Remove numbers/symbols and standardize case
df['Name'] = df['Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df['Name'] = df['Name'].str.strip().str.title()

In [48]:
df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')

# Drop rows with invalid/missing Join Date
df = df.dropna(subset=['Join Date'])

In [49]:
# Convert to numeric if needed
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Remove unrealistic salaries
df = df[(df['Salary'] >= 1000) & (df['Salary'] <= 150000)]

In [50]:
df.to_csv('../data/cleaned_dataset.csv', index=False)

In [51]:
print("Missing names (NaN):", df['Name'].isnull().sum())

print("Empty or space-only names:",
      df['Name'].apply(lambda x: isinstance(x, str) and x.strip() == "").sum())

Missing names (NaN): 163
Empty or space-only names: 0

In [52]:
df = df[df['Name'].notnull()]                    
df = df[df['Name'].str.strip() != ""]

In [53]:
df['Name'] = df['Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True)  # remove symbols/numbers
df['Name'] = df['Name'].str.strip().str.title()

In [54]:
# Preview cleaned names
df['Name'].value_counts().head(10)

Name
Jennifer Lee                 2
Joseph Rodriguez             2
Laura Walker                 2
Steven Jones                 2
James Price                  2
Laura Douglas                1
Mrs Sheri Duffyparty         1
Mrs Betty Robinsonmission    1
Steven Kirby                 1
Nicholas May                 1
Name: count, dtype: int64

In [55]:
df.to_csv('../data/cleaned_dataset.csv', index=False)

print("Cleaned file saved to ../data/cleaned_dataset.csv")

Cleaned file saved to ../data/cleaned_dataset.csv

In [56]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [57]:
decimal_ages = df[df['Age'] % 1 != 0]

In [58]:
decimal_ages.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
179,179,182b6c7c-2121-428a-87b9-63aac3a123ae,Kimberly Terry,54.068603,christopher00@thomas-anderson.com,2024-05-26,111038.000000,Engineering
269,269,d13d6f3e-dff7-4fa9-b5ee-9a613dd6b04a,Dr Alex Collins,54.068603,wcummings@williams.com,2020-05-18,56932.000000,Unknown
272,272,fc9e2e88-5ab4-4a23-b584-f3c80f8bcb1f,Derrick Bridges,54.068603,patelsylvia@lynn.com,2022-12-07,41810.000000,SupportC
345,345,b1622b91-2b7c-4ec6-894d-bb541b61de3e,Kevin Williams Md,54.068603,garcianicholas@hill-ali.info,2023-11-20,149457.000000,Sales
679,679,63ebc25e-d83c-4af5-8342-ff380c914163,Laura Leon,54.068603,sabrina28@carroll.com,2023-01-25,36193.487308,Marketing

In [59]:
df['Age'] = df['Age'].round()

In [60]:
df = df[df['Age'] % 1 == 0]

In [61]:
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')
decimal_salary = df[df['Salary'] % 1 != 0]
decimal_salary.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
42,42,3a6b1096-f7a7-4901-a31a-9db676895801,Kayla Carpenter,61.0,dcooper@adams.net,2021-06-08,82857.398040,Engineering
97,97,8bfbae3a-81de-4658-9fcf-1522a4ffb162,Steven Kirby,49.0,barkerdavid@watson.org,2020-01-19,63896.102483,HR
108,108,edb34b86-369f-4cd2-b4c8-dc2c6eb0ffc5,Stacy Cruz,36.0,williampearson@snyder.com,2020-02-11,118523.380275,Marketing
113,113,dcb5f899-d8cb-4598-a62a-10662b75cec9,Heather Taylor,40.0,michaelmunoz@dyer.org,2020-04-16,36044.619292,EngineeringL

In [63]:
df['Salary'] = df['Salary'].round()

In [64]:
df['Salary'].describe()
outliers = df[(df['Salary'] < 1000) | (df['Salary'] > 150000)]
outliers.head()

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [67]:
import re

In [68]:
df['Name'] = df['Name'].str.replace(r'^(mr|mrs|ms|dr)\s+', '', flags=re.IGNORECASE, regex=True)
df['Name'] = df['Name'].str.replace(r'(party|mission|company|office)$', '', flags=re.IGNORECASE, regex=True)
df['Name'] = df['Name'].str.strip().str.title()

In [69]:
df.to_csv('../data/cleaned_dataset.csv', index=False)

In [70]:
# Show duplicate ID rows
duplicate_ids = df[df.duplicated(subset='ID', keep=False)]
duplicate_ids

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [71]:
valid_departments = ['Sales', 'HR', 'Marketing', 'Engineering', 'Support']

In [72]:
df['Department'] = df['Department'].astype(str).str.strip().str.title()

In [73]:
df.loc[~df['Department'].isin(valid_departments), 'Department'] = 'Unknown'

In [74]:
df = df[df['Department'].isin(valid_departments)]

In [75]:
df[~df['Department'].isin(valid_departments)]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Email, Join Date, Salary, Department]
Index: []

In [77]:
df.to_csv('../data/cleaned_dataset.csv', index=False)

print("Cleaned file saved to ../data/cleaned_dataset.csv")

Cleaned file saved to ../data/cleaned_dataset.csv